@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&family=Inter:wght@400;800&family=Raleway:wght@600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel .thumbs-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
}

.carousel .slider-wrapper .control-arrow {
  display: none;
}

.tabList .react-tabs__tab--selected {
  border: 0px 0px 0px 0px;
  color: #cd9003;
  border-bottom: 2px solid #cd9003;
}

@media screen and (max-width: 768px) {
  .carousel .thumbs-wrapper {
    display: none;
  }
}
